<a href="https://colab.research.google.com/github/peeush-the-developer/interview-questions/blob/main/pandas_problem_statement_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Problem statement

Suppose you're given "Input column" as Age and we want to transform into specified "Output column"

![Problem](https://gm1.ggpht.com/J-wf1M0DPJKUkQonFltstNSPuilFmATRplnz65QryJq-wIeXOMnZgyx5rZZ6BBwIljaCp_52fN-Y8AyU_5CLyWS08roBL4shwn7bZEyb0A2Lb2PmHviZHaoq-tOMEU2a8afk43Z7rSAni59vzvNdrp-EBObJCezI41lXe-wbpG-Tj4MhiVn_iFXWAw9HmISt7pKwb9wBjc3CYl5cX-Cn40q8EEEagSArKV_lvK1JEM1SgJpGL2DWKhk_JuU4gUwq_3xbWRdyLNbas_rSEnEnjsmyTckmmWWjVb6ek97kUlxpILM0tdo-cdzNUFJ88jjglp9Le7Onbk5hUTvZHmbs6ck-xOtnm7hqep_Pz0R9M6xgVuPCUjz_X2obDVt4tIe7a34fykIIs9hzhkTDzrKKQSzCSDd9R7DBuKn-boKvVrZ6bqniUvaYgdLUzuEH-9zQXPZnRNbTyYU1tmVDzWvCyyi2jc2lTwjv_Bxf_To-lTxDTuWZ--YNKqoio3efW1KRAH4IZbNs1QvQ7XbA-jhXdxcLXTZVSfcn0aLvE1hmQrxKcrMvQNxmEvmb3gh_32nQnSuL0OU7O9x9e9-3blF_PbCGmvEti3-4e2JJZazppVJQEp5-cEGyyNUJbWc0s-RBds5psCKXjK7ebgmX7Dl6WXed-Q701Gs4QAfpdDYyuMo90ItXZlGV4MBcpTS3AbvFUVj8JCBtywylGgfXpegoIOMLBgN7g_FfNGfHbp5LKFBxDCPZwhUm1E3fOu-hLZHDUiIx=s0-l75-ft-l75-ft)

## 1. Solution attempt

In [3]:
import pandas as pd

In [1]:
dic = {'Age':['1 Year', '5 Yr', '7 Years', '9', '9', '8 Yrs']}
dic

{'Age': ['1 Year', '5 Yr', '7 Years', '9', '9', '8 Yrs']}

In [4]:
df = pd.DataFrame(dic)
df

       Age
0   1 Year
1     5 Yr
2  7 Years
3        9
4        9
5    8 Yrs

In [10]:
df['Age'] = df['Age'].str.split().str[0] + ' Year'

In [11]:
df

      Age
0  1 Year
1  5 Year
2  7 Year
3  9 Year
4  9 Year
5  8 Year