# Questions

![Image divider](https://picsum.photos/id/0/600/200)

## Questions 1 - 10

### 1. Check if a list contains an element

In [1]:
li = [1, 2, 3, 'a', 'b', 'c']

# Find if 'a' is in l1

### 2. How to iterate over 2+ lists at the same time

+ Input: Given 3 lists
+ Output: 
  + Snowball the Cat is 1
  + Chewy the Dog is 2
  + ...

In [2]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']
age = [1, 2, 2, 6]

### 3. When you would use a list vs dictionary?

### 4. Is a list mutable?

### 5. Does a list need to be homogeneous?

### 6. What is the difference between append and extend?

### 7. Do python list store values or pointers?

### 8. What does `del` do?

### 9. What is the difference between `pop` and `remove`?

### 10. Remove duplicates from a list.

_Note: Order is not a concern_

In [3]:
li = [3, 2, 2, 1, 1, 1]

# Output: [1, 2, 3]

![Image divider](https://picsum.photos/id/10/600/200)

## Questions 11 - 20

### 11. Find the index of the 1st matching element.

In [4]:
fruit = ['pear', 'orange', 'apple', 'grapefruit', 'apple', 'pear']

# Output: 
#   'apple' => 2
#   'pear'  => 0

### 12. Remove all elements from a list.

In [5]:
fruit = ['pear', 'orange', 'apple']

# Output: fruit = []

### 13. Iterate over both the values in a list and their indices

In [6]:
grocery_list = ['flour','cheese','carrots']

# Output:
#   0: flour
#   1: cheese
#   2: carrots

### 14. How to concatenate two lists

In [7]:
one = ['a', 'b', 'c']
two = [1, 2, 3]

# Output: ['a', 'b', 'c', 1, 2, 3]

### 15. How to manipulate every element in a list with list comprehension?

Add 1 to each element

In [8]:
li = [0, 25, 50, 100]

# Output: [1, 26, 51, 101]

### 16. Count the occurrence of a specific object in a list

In [9]:
pets = ['dog','cat','fish','fish','cat']

# Output: 'fish' => 2

### 17. How to shallow copy a list?

In [10]:
round1 = ['chuck norris', 'bruce lee', 'sonny chiba']

# Output: round2 with same items except 'sonny chiba'

### 18. Why create a shallow copy of a list?

### 19. How to deepcopy a list?

In [11]:
round1 = [
    ['Arnold', 'Sylvester', 'Jean Claude'],
    ['Buttercup', 'Bubbles', 'Blossom']
]

# Output: 
# round2 = [
#  ['Jet Lee', 'Sylvester', 'Jean Claude'], 
#  ['Buttercup', 'Bubbles', 'Blossom']
# ]

### 20. What is the difference between a deep copy and a shallow copy?

![Image divider](https://picsum.photos/id/200/600/200)

## Questions 21 - 30

### 21. What is the difference between a list and a tuple?

### 22. Return the length of a list

### 23. What is the difference between a list and a set?

### 24. How to check if an element is not in a list?

In [12]:
li = [1, 2, 3, 4]

# Output: li contains 5 => False

### 25. Multiply every element in a list by 5 with the `map` function.

In [13]:
a = [10,20,30,40,50]

# Output: [50, 100, 150, 200, 250]

### 26. Combine 2 lists into a list of tuples with the `zip` function.

In [14]:
alphabet = ['a', 'b', 'c']
integers = [1, 2, 3]

# Output: [('a', 1), ('b', 2), ('c', 3)]

### 27. Insert a value at a specific index in an existing list

In [15]:
li = ['a','b','c','d','e']

# Output: ['a', 'b', 'HERE', 'c', 'd', 'e']

### 28. Subtract values in a list from the first element with the `reduce` function.

In [16]:
numbers = [100,10,5,1,2,7,5]

# Output: 70 (100 - 10 - 5 - 1 - ...)

### 29. Remove negative values from a list with `filter` function.

In [17]:
a = [-10, 27, 1000, -1, 0, -30]

# Output: [27, 1000, 0]

### 30. Convert a list into a dictionary where list elements are keys

In [18]:
li = ['The', 'quick', 'brown', 'fox', 'was', 'quick']

# Output: {'The': 1, 'quick': 1, 'brown': 1, 'fox': 1, 'was': 1}

![Image divider](https://picsum.photos/id/1001/600/200)

## Questions 31 - 40

### 31. Modify an existing list with a `lambda` function.

In [19]:
a = [10,20,30,40,50]

# Output: [50, 100, 150, 200, 250]

### 32. Remove elements in a list after a specific index

In [20]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]

# Output: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 33. Remove elements in a list before a specific index

In [21]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]

# Output: [16, 17, 18, 19, 10]

### 34. Remove elements in a list between 2 indices

In [22]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]

# Output: [13, 14, 15, 16, 17]

### 35. Return every 2nd element in a list between 2 indices

In [23]:
li = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,10]

# Output: [11, 13, 15]

### 36. Sort a list of integers in ascending order in place

In [24]:
li = [10,1,9,2,8,3,7,4,6,5]

# Output: li => [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 37. Sort a list of integers in descending order in place

In [25]:
li = [10,1,9,2,8,3,7,4,6,5]

# Output: li => [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 38. Filter even values out of a list with list comprehension

In [26]:
li = [1,2,3,4,5,6,7,8,9,10]

# Output: [1, 3, 5, 7, 9]

### 39. Count occurrences of each value in a list using `Counter` class

In [27]:
li = ['blue', 'pink', 'green', 'green', 'yellow', 'pink', 'orange']

# Output: {'blue': 1, 'pink': 2, 'green': 2, 'yellow': 1, 'orange': 1}

### 40. Get the first element from each nested list in a list

In [28]:
li = [[1,2,3],[4,5,6],[7,8,9],[10,11,12],[13,14,15]]

# Output: [1, 4, 7, 10, 13]

![Image divider](https://picsum.photos/id/1002/600/200)

## Questions 41 - 50

### 41. What is the time complexity of `insert`, `find` and `delete` for a list?

### 42. Combine elements in a list into a single string.

In [29]:
li = ['The','quick','brown', 'fox', 'jumped', 'over', 'the', 'lazy', 'dog']

# Output: 'The quick brown fox jumped over the lazy dog'

### 43. What's the affect of multiplying a list by an integer?

In [30]:
# ['a','b'] * 5

### 44. Use `any` function to return True if any value is divisible by 2

In [31]:
li1 = [1,2,3]
li2 = [1,3]

# Output: li1 has value divisible by 2 => True
#         li2 has value divisible by 2 => False

### 45. Use `all` function to return True if all values in a list are negative

In [32]:
li1 = [2,3,-4]
li2 = [-2,-4]

# Output: li1 has all -ve values => False
#         li2 has all -ve values => True

### 46. Can you a sort a list with `None` in it?

### 47. What kind of copy would the list constructor create from an existing list?

### 48. Reverse the order of a list

In [33]:
li = [1,2,3,4,5,6,7,8,9,10]

# Output: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 49. What is the difference between `reverse` and `reversed`?

### 50. What is the difference between `sort` and `sorted`?

![Image divider](https://picsum.photos/id/1010/600/200)

## Questions 51 - 60

### 51. Return the minimum value in a list

In [34]:
li = [10,1,9,2,8,3,7,4,6,5]

# Output: 1

### 52. Return the maximum value in a list

In [35]:
li = [10,1,9,2,8,3,7,4,6,5]

# Output: 10

### 53. Return the sum of values in a list

In [36]:
li = [10,1,9,2,8,3,7,4,6,5]

# Output: 55

### 54. Use a list as a stack

### 55. Find the intersection of 2 lists

In [37]:
li1 = [1,2,3]
li2 = [2,3,4]

# Output: {2, 3}

### 56. Find the difference between set and another set

In [38]:
li1 = [1,2,3]
li2 = [2,3,4]

# Output: li1 - li2: {1}
#         li2 - li1: {4}

### 57. Flatten a list of lists with a list comprehension

In [39]:
li = [[1,2,3],[4,5,6]]

# Output: [1, 2, 3, 4, 5, 6]

### 58. Generate a list of every integer between 2 values

In [40]:
# Generate list between 5 and 10 (exclusive)
# Output: [5, 6, 7, 8, 9]

### 59. Combine 2 lists into a dictionary

In [41]:
name = ['Snowball', 'Chewy', 'Bubbles', 'Gruff']
animal = ['Cat', 'Dog', 'Fish', 'Goat']

# Output: {'Snowball': 'Cat', 'Chewy': 'Dog', 'Bubbles': 'Fish', 'Gruff': 'Goat'}

### 60. Reverse the order of a list using slice syntax

In [42]:
li = ['a','b',3,4]

#=> [4, 3, 'b', 'a']

## References

_[Refence: Towards Data Science blog by Chris I.](https://towardsdatascience.com/60-questions-to-test-your-knowledge-of-python-lists-cca0ebfa0582#:~:text=%2060%20Questions%20to%20Test%20Your%20Knowledge%20of,associated%20with%20the%20same%20identifier%20in...%20More%20)_