<a href="https://colab.research.google.com/github/peeush-the-developer/interview-questions/blob/main/Pandas/pandas_problem_statement_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Problem statement

Suppose you're given "Input column" as Age and we want to transform into specified "Output column"

![Problem]()

## 1. Solution attempt

In [ ]:
import pandas as pd

In [ ]:
dic = {'Age':['1 Year', '5 Yr', '7 Years', '9', '9', '8 Yrs']}
dic

{'Age': ['1 Year', '5 Yr', '7 Years', '9', '9', '8 Yrs']}

In [ ]:
df = pd.DataFrame(dic)
df

       Age
0   1 Year
1     5 Yr
2  7 Years
3        9
4        9
5    8 Yrs

In [ ]:
df['Age'] = df['Age'].str.split().str[0] + ' Year'

In [ ]:
df

      Age
0  1 Year
1  5 Year
2  7 Year
3  9 Year
4  9 Year
5  8 Year